PORT=3000
MONGO_URI=mongodb://127.0.0.1:27017/week-10-blog-api
JWT_SECRET=replace-with-a-long-random-secret
NODE_ENV=development
CORS_ORIGIN=*
CLOUDINARY_CLOUD_NAME= dqovbznhp
CLOUDINARY_API_KEY=117392349371419
CLOUDINARY_API_SECRET=RJOVPHQ6kIgSHPERDMGYXyBRcF8
CLOUDINARY_FOLDER=week-10-blog-api